<!-- <div class="main-div">
    <div class="title-text">
        <span>KAPIVA</span>
    </div>

    <div class="main-search-bar">
        <div class="search-bar">
            <input type="text" placeholder="Search">
            <button (click)="onSearch()">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <div style="position: relative;">
        <button class="log-btn">LOGIN</button>
    </div>

    <div class="get-btn">
        <button class="log-btn">GET APP</button>
    </div>

    <div claass="truck-btn">
        <i style="font-size: 35px;" class="fa-solid fa-truck"></i>
    </div>

    <div class="cart-btn">
        <i style="font-size: 35px;" class="fa-solid fa-cart-shopping"></i>
    </div>

    <div class="bar-btn">
        <i style="font-size: 35px;" class="fa-solid fa-bars"></i>
    </div>
</div> -->




<body>
    <div class="main-div">
        <div class="title-text">
            <span>KAPIVA</span>
        </div>

        <div class="main-search-bar">
            <div class="search-bar">
                <input type="text" placeholder="Search">
                <button (click)="onSearch()">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

        <div class="log-btn" style="position: relative;">
            <button class="log-inbtn">LOGIN</button>
        </div>

        <div class="get-btn">
            <button class="get-inbtn">GET APP</button>
        </div>

        <div class="search-btn">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <div class="truck-btn">
            <i class="fa-solid fa-truck"></i>
        </div>

        <div class="cart-btn">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

        <div class="bar-btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</body>