<body class="for-mobile">
    <div class="main-footer">
        <div class="sub-class">
            <div class="title-text">
                <span>KAPIVA</span>
            </div>

            <div class="address-class">
                Credit card brand JCB<br>
                Credit card number<br>
                Expire 2027/8
                CVV 308
            </div>
            <div class="phone-btn">
                <i class="fa-solid fa-phone"></i>&nbsp;<span class="ph-num">1800-274-2575</span>
            </div>
            <div class="message-btn">
                <i class="fa-regular fa-envelope"></i>&nbsp;<span class="email-mess">info@kapiva.in</span>
            </div>
        </div>

        <div class="sub-sub-class">
            <div class="ul-list">
                <ul>
                    <li class="mb-3">SHOP ALL</li>
                    <li class="mb-3">CONSULT A DOCTOR</li>
                    <li class="mb-3">MY ACCOUNT</li>
                </ul>
                <ul>
                    <li class="mb-3">ABOUT US</li>
                    <li class="mb-3">BLOG</li>
                    <li class="mb-3">MEDIA</li>
                    <li class="mb-3">CONTACT US</li>
                </ul>
            </div>

            <div class="sub-tri-class">
                <p class="mb-3 join-text">JOIN OUR MAILING LIST</p>
                <div>
                    <form>
                        <div class="search-text">
                            <input class="search-bar" type="text" placeholder="Enter Email">
                            <button type="submit" class="on-click">Submit</button>
                        </div>
                    </form>
                </div>

                <div class="main-social">
                    <div class="social-media">
                        <p class="mt-3 follow-us">FOLLOW US</p>
                    </div>

                    <div class="social-icons">
                        <a href=""><i style="color: black;" class="fa-brands fa-instagram"></i></a>
                        <a href=""><i style="color: black;" class="fa-brands fa-facebook"></i></a>
                        <a href=""><i style="color: black;" class="fa-brands fa-youtube"></i></a>
                        <a href=""><i style="color: black;" class="fa-brands fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-availble-class">
        <div class="availble">
            <div class="text-avail">
                Also Availabe on:
            </div>
            <div>
                <img class="img-wd" src="../../assets/Amazon-Logo.png" alt="">
                <img class="img-wd" src="../../assets/6071adef8aadc02c3e7a31e8_Client Logos_JioMart.png" alt="">
                <img class="img-wd" src="../../assets/bigbasket-logo.jpg" alt="">
                <img class="img-wd" src="../../assets/Flipkart-logo.png" alt="">
            </div>
        </div>

        <div class="availble">
            <div class="text-avail">
                We Accept :
            </div>
            <div>
                <img class="img-wd" src="../../assets/Amazon-Logo.png" alt="">
                <img class="img-wd" src="../../assets/6071adef8aadc02c3e7a31e8_Client Logos_JioMart.png" alt="">
                <img class="img-wd" src="../../assets/bigbasket-logo.jpg" alt="">
                <img class="img-wd" src="../../assets/Flipkart-logo.png" alt="">
            </div>
        </div>
    </div>


</body>

<div class="privacy-class">
    <div class="privacy-text">
        Privacy Policy
    </div>
    <div class="privacy-text">
        Terms and Conditions
    </div>
    <div class="privacy-text">
        Shipping Policy
    </div>
    <div class="privacy-text">
        Cancellation Policy
    </div>
</div>

<div class="last-line">
    <div class="last-one">
        Kapiva is a company of Adret Retail Private Limited © Copyright 2023 Kapiva
    </div>
</div>