<div class="landing-body">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="" data-slide-to="0" class="active"></li>
            <li data-target="" data-slide-to="1"></li>
            <li data-target="" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/Rectangle42580.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/rwfdf.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../assets/Rectangle42580.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <a class="carousel-control-prev" href="" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>




    <div class="container mt-5">

        <div class="position-class" style="position: relative;">
            <div class="div-alinge">
                <p class="select-text"><i class="fa-solid fa-database data-img"></i>SELECT CONCERN:</p>

                <div class="box-div custom-box">
                    <div class="img-div">
                        <img src="../../assets/Ellipse 23078.png" alt="">
                    </div>
                    <p class="text-forimg">Men's Health</p>
                </div>
                <div class="box-div custom-box">
                    <div class="img-div">
                        <img src="../../assets/Ellipse 23078.png" alt="">
                    </div>
                    <p class="text-forimg">Weight Management</p>
                </div>
                <div class="box-div custom-box">
                    <div class="img-div">
                        <img src="../../assets/Ellipse 23078.png" alt="">
                    </div>
                    <p class="text-forimg">Lifestyle Diseases</p>
                </div>
                <div class="box-div custom-box">
                    <div class="img-div">
                        <img src="../../assets/Ellipse 23078.png" alt="">
                    </div>
                    <p class="text-forimg">Skin Care</p>
                </div>
                <div class="box-div custom-box">
                    <div class="img-div">
                        <img src="../../assets/Ellipse 23078.png" alt="">
                    </div>
                    <p class="text-forimg">Hair Care</p>
                </div>
                <div class="box-div custom-box">
                    <div class="img-div">
                        <img src="../../assets/Ellipse 23078.png" alt="">
                    </div>
                    <p class="text-forimg">Daily WellnessDaily</p>
                </div>
                <div class="box-div custom-box">
                    <div class="img-div">
                        <img src="../../assets/Ellipse 23078.png" alt="">
                    </div>
                    <p class="text-forimg">Women's Health</p>
                </div>
            </div>
        </div>

        <div class="product-head mt-5">
            <span class="mini-head">Men's Health</span>
            <a style="color: rgba(255, 0, 0, 0.418); font-weight: bold;" href="">View All</a>
        </div>

        <div class="product-imag mt-5">
            <div class="mini-imag">
                <div clas="row grid-img">
                    <div class="normal-div">
                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-3.webp" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>

                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-3.webp" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>

                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-3.webp" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="view-products mt-5">
            <div class="text-arl">
                <a href="">View all Men's Health products</a>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="text-head">
            Are you confused? Find the right solution
        </div>

        <div class="consult-doctor mt-5">
            <div class="box-divs custom-box">
                <div class="img-div">
                    <img src="../../assets/Ellipse 23078.png" alt="">
                </div>
                <p class="text-forimgs">FREE DOCTOR CONSUL</p>
            </div>
            <p class="or-text">or</p>
            <div class="box-divs custom-box">
                <div class="img-divs">
                    <i class="fa-solid fa-book"></i>
                </div>
                <p class="text-forimgs">GET CUSTOMIZED SOLUTION</p>
            </div>
        </div>

        <div claass="real-people">
            <div class="text-head mt-5">
                Real people, real stories
            </div>
        </div>

        <div class="row rating-img mt-5">
            <div class="mini-rating col-lg-3 col-md-3 col-sm-6">
                <div>
                    <img class="imges-rate" src="../../assets/image 65 (1).png" alt="">
                </div>
                <div class="star-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

                <p class="rate-text">
                    <span style="font-weight: bold;">Anonymous</span><br>
                    <span>I could see a decent performance increase</span>
                </p>
            </div>


            <div class="mini-rating col-lg-3 col-md-3 col-sm-6">
                <div>
                    <img class="imges-rate" src="../../assets/image 65 (1).png" alt="">
                </div>
                <div class="star-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

                <p class="rate-text">
                    <span style="font-weight: bold;">Anonymous</span><br>
                    <span>I could see a decent performance increase</span>
                </p>
            </div>

            <div class="mini-rating col-lg-3 col-md-3 col-sm-6">
                <div>
                    <img class="imges-rate" src="../../assets/image 65 (1).png" alt="">
                </div>
                <div class="star-rate">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>

                <p class="rate-text">
                    <span style="font-weight: bold;">Anonymous</span><br>
                    <span>I could see a decent performance increase</span>
                </p>
            </div>
        </div>
    </div>

    <hr>
    <hr>

    <div class="container">

        <div class="product-head mt-5">
            <span class="mini-head">Men's Health</span>
            <a style="color: rgba(255, 0, 0, 0.418); font-weight: bold;" href="">View All</a>
        </div>

        <div class="product-imag mt-5">
            <div class="mini-imag">
                <div clas="row grid-img">
                    <div class="normal-div">
                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-4.jpg" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>

                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-4.jpg" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>

                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-4.jpg" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="view-products mt-5">
            <div class="text-arl">
                <a href="">View all Men's Health products</a>
            </div>
        </div>

        <div class="why-kapiva mt-5">
            <h1 class="kapiva-text">
                Why Kapiva?
            </h1>
        </div>

        <div class="sub-head mt-5">
            HEALTHY INSIDE, HAPPY OUTSIDE
        </div>


        <div class="content">
            <div class="number">
                01
            </div>

            <div class="main-matter">
                <div class="sub-matter">
                    <div class="text-section">
                        <p class="main-text">FORMULATED BY EXPERTS AT KAPIVA ACADEMY OF AYURVEDA</p>
                        <p class="matter">Experts at Kapiva Academy of Ayurveda, PhD’s, and Ayurvedacharya with over 50
                            years of cumulative experience build formulations with scientifically and clinically tested
                            ingredients, to make our proprietary products that help you reach your health goals.</p>
                    </div>

                    <div class="img-section">
                        <img src="../../assets/Rectangle 42580.png" alt="">
                    </div>
                </div>
            </div>

            <div class="number">
                02
            </div>

            <div class="main-matter">
                <div class="sub-matter">
                    <div class="img-section">
                        <img src="../../assets/Rectangle 42580 (1).png" alt="">
                    </div>

                    <div class="text-section">
                        <p class="main-text-right">THE BEST INGREDIENTS PASSED THROUGH THE TOUGHEST PROCESS</p>
                        <p class="matter-right">Experts at Kapiva Academy of Ayurveda, PhD’s, and Ayurvedacharya with
                            over
                            50 years of cumulative experience build formulations with scientifically and clinically
                            tested
                            ingredients, to make our proprietary products that help you reach your health goals.</p>
                    </div>
                </div>
            </div>

            <div class="number">
                03
            </div>

            <div class="main-matter">
                <div class="sub-matter">
                    <div class="text-section">
                        <p class="main-text">HOLISTIC SOLUTIONS FOR EVERY NEED</p>
                        <p class="matter">Experts at Kapiva Academy of Ayurveda, PhD’s, and Ayurvedacharya with over 50
                            years of cumulative experience build formulations with scientifically and clinically tested
                            ingredients, to make our proprietary products that help you reach your health goals.</p>
                    </div>

                    <div class="img-section">
                        <img src="../../assets/Rectangle 42580.png" alt="">
                    </div>
                </div>
            </div>
        </div>


        <div class="why-kapiva mt-5">
            <h1 class="kapiva-text">
                In the News
            </h1>
        </div>

        <div class="sub-head mt-5">
            Improving health with Ayurveda
        </div>
        <div class="sub-head mt-2">
            2M+
        </div>
        <div class="sub-head mt-2">
            HAPPY AYURVEDA CONSUMERS
        </div>

        <div class="row main-card mt-5">
            <div class="sub-card">
                <div class="back-sty  col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <mat-card class="example-card">

                        <img mat-card-image src="../../assets/bigbasket-logo.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <hr>
                            <p>
                                Experts at Kapiva Academy and Ayurvedacharya with over 50 years
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="back-sty  col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <mat-card class="example-card">

                        <img mat-card-image src="../../assets/Amazon-Logo.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <hr>
                            <p>
                                Experts at Kapiva Academy and Ayurvedacharya with over 50 years
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="back-sty  col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <mat-card class="example-card">

                        <img mat-card-image src="../../assets/bigbasket-logo.jpg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <hr>
                            <p>
                                Experts at Kapiva Academy and Ayurvedacharya with over 50 years
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="back-sty  col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <mat-card class="example-card">

                        <img mat-card-image src="../../assets/Flipkart-logo.png" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <hr>
                            <p>
                                Experts at Kapiva Academy and Ayurvedacharya with over 50 years
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>

            </div>
        </div>

        <div class="why-kapiva mt-5">
            <h1 class="sub-heads">
                4BALANCE
            </h1>
        </div>

        <div class="row product-logo mt-5">
            <div class="sub-product col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="sub-product-img">
                    <img src="../../assets/download.png" alt="">
                </div>
                <h3 class="name-pro">Ayurvedic
                    Products</h3>
                <p class="text-pro">That can easily integrate into your daily life</p>
            </div>

            <div class="sub-product col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="sub-product-img">
                    <img src="../../assets/download (1).png" alt="">
                </div>
                <h3 class="name-pro">Lifestyle
                    Recommendations</h3>
                <p class="text-pro">Complement it with Yoga Asanas for maximum benefit</p>
            </div>

            <div class="sub-product col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="sub-product-img">
                    <img src="../../assets/download (2).png" alt="">
                </div>
                <h3 class="name-pro">Custom Diet
                    Plans</h3>
                <p class="text-pro">Get the meal plans that work for you and your health goals</p>
            </div>

            <div class="sub-product col-lg-3 col-md-3 col-sm-6 col-xs-6">
                <div class="sub-product-img">
                    <img src="../../assets/download (3).png" alt="">
                </div>
                <h3 class="name-pro">Expert
                    Connect</h3>
                <p class="text-pro">If in doubt, reach out to our Ayurveda Experts, for free.</p>
            </div>
        </div>


        <div class="product-head mt-5">
            <span class="mini-head">New Arrivals</span>
            <a style="color: rgba(255, 0, 0, 0.418); font-weight: bold;" href="">View All</a>
        </div>

        <div class="product-imag mt-5">
            <div class="mini-imag">
                <div clas="row grid-img">
                    <div class="normal-div">
                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-2.jpg" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>

                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-2.jpg" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>

                        <div class="display-div col-lg-3 col-md-3 col-sm-6">
                            <div class="org-img">
                                <div class="img-searm">
                                    <div class="searm-img">
                                        <img class="size-img" src="../../assets/searm-2.jpg" alt="">
                                    </div>
                                    <div class="searm-for mt-2">
                                        Face oily Searm
                                    </div>
                                    <p class="searm-price mt-2">$1333</p>
                                </div>

                                <div class="buy-product">
                                    <button class="cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                                    <button class="buy-now-btn">Buy Now</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="view-products mt-5">
            <div class="text-arl">
                <a href="">View all New Arrivals</a>
            </div>
        </div>
    </div>
    <div class="back-ground mt-5">
        <div class="img-box">
            <div class="img-box-2">
                <p class="unlock-text">unlock offers &
                    subscribe for content</p>

                <input class="search-bar" type="text" placeholder="Enter Email">
                <button type="submit" class="on-click">Submit</button>
            </div>
        </div>

        <div class="img-box-mobile mt-3">
            <div class="img-box-2">
                <p class="unlock-text">JOIN OUR MAILING LIST</p>

                <input class="search-bar" type="text" placeholder="Enter Email">
                <button type="submit" class="on-click">Submit</button>
            </div>
        </div>

        <div class="mobli-icons">
            <div class="mobile-viwe mt-2">
                <a style="text-decoration: none; color: black;" href="">Shop All</a>
            </div>
            <hr>
            <div class="mobile-viwe">
                <a style="text-decoration: none; color: black;" href=""> About Us</a>
            </div>
            <hr>
            <div class="mobile-viwe">
                <a style="text-decoration: none; color: black;" href=""> Other Links</a>
            </div>
            <hr>

            <div class="social-icons">
                <a href=""><i style="color: white;" class="fa-brands fa-instagram"></i></a>
                <a href=""><i style="color: white;" class="fa-brands fa-facebook"></i></a>
                <a href=""><i style="color: white;" class="fa-brands fa-youtube"></i></a>
                <a href=""><i style="color: white;" class="fa-brands fa-twitter"></i></a>
            </div>
        </div>



    </div>


</div>